<section
  id="shopify-section-template--21653346681154__9de087e3-15e7-4fa2-adea-eaa0081760db"
  class="shopify-section section"
>
  <link
    href="//g-e-test.myshopify.com/cdn/shop/t/11/assets/section-rich-text.css?v=155250126305810049721700151387"
    rel="stylesheet"
    type="text/css"
    media="all"
  >
  <style data-shopify>
    .section-template--21653346681154__9de087e3-15e7-4fa2-adea-eaa0081760db-padding {
      padding-top: 30px;
      padding-bottom: 39px;
    }

    @media screen and (min-width: 750px) {
      .section-template--21653346681154__9de087e3-15e7-4fa2-adea-eaa0081760db-padding {
        padding-top: 40px;
        padding-bottom: 52px;
      }
    }
  </style>
  <div class="isolate page-width">
    <div class="rich-text content-container color-background-1 gradient section-template--21653346681154__9de087e3-15e7-4fa2-adea-eaa0081760db-padding">
      <div class="rich-text__wrapper rich-text__wrapper--left">
        <div class="rich-text__blocks left">
          <h2
            class="rich-text__heading rte inline-richtext hxl scroll-trigger animate--slide-in"

            data-cascade
            style="--animation-order: 1;"
          >
            About
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section
  id="shopify-section-template--21653346681154__ac4470b5-3f27-4104-9944-71568f9e7995"
  class="shopify-section section"
>
  <link
    href="//g-e-test.myshopify.com/cdn/shop/t/11/assets/section-image-banner.css?v=157856879886144226731700151387"
    rel="stylesheet"
    type="text/css"
    media="all"
  >
  <style data-shopify>
    #Banner-template--21653346681154__ac4470b5-3f27-4104-9944-71568f9e7995::after {
      opacity: 0.3;
     
    }
 
  </style>
  <div
    id="Banner-template--21653346681154__ac4470b5-3f27-4104-9944-71568f9e7995"
    class="banner banner--content-align-left banner--content-align-mobile-center banner--large banner--mobile-bottom banner--desktop-transparent scroll-trigger animate--fade-in"
  >
    <div class="banner__media media animate--fixed scroll-trigger animate--fade-in">
      <img
        src="https://cdn.shopify.com/s/files/1/0064/7597/2675/files/flag-banner.webp?v=1713453836"
        alt=""
        width="2560"
        height="1400"
        sizes="100vw"
        fetchpriority="auto"
      >
    </div>
    <div class="banner__content banner__content--bottom-left page-width scroll-trigger animate--slide-in">
      <div class="banner__box content-container content-container--full-width-mobile color-accent-2 gradient">
        <h2
          class="banner__heading inline-richtext h0"
          style="color: #fff;"
        >
          Leading Supplier of Reconditioned Construction Equipment
        </h2>
      </div>
    </div>
  </div>
</section>
<section
  id="shopify-section-template--21653346681154__e882d332-2d78-4d7a-8ea3-bdd779ed5e1c"
  class="shopify-section section"
>
  <link
    href="//g-e-test.myshopify.com/cdn/shop/t/11/assets/section-rich-text.css?v=155250126305810049721700151387"
    rel="stylesheet"
    type="text/css"
    media="all"
  >
  <style data-shopify>
    .section-template--21653346681154__e882d332-2d78-4d7a-8ea3-bdd779ed5e1c-padding {
      padding-top: 33px;
      padding-bottom: 33px;
    }

    @media screen and (min-width: 750px) {
      .section-template--21653346681154__e882d332-2d78-4d7a-8ea3-bdd779ed5e1c-padding {
        padding-top: 44px;
        padding-bottom: 44px;
      }
    }
  </style>
  <div class="isolate">
    <div class="rich-text content-container color-background-1 gradient rich-text--full-width content-container--full-width section-template--21653346681154__e882d332-2d78-4d7a-8ea3-bdd779ed5e1c-padding">
      <div class="rich-text__wrapper rich-text__wrapper--left page-width">
        <div class="rich-text__blocks left">
          <h2
            class="rich-text__heading rte inline-richtext h2 scroll-trigger animate--slide-in"

            data-cascade
            style="--animation-order: 1;"
          >
            General Equipment & Supply offers an immense inventory of durable remanufactured construction equipment,
            manufacturing tools, and more.
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section
  id="shopify-section-template--21653346681154__674cde50-0300-47e8-a916-935b26ae1ed9"
  class="shopify-section section"
>
  <link
    href="//g-e-test.myshopify.com/cdn/shop/t/11/assets/video-section.css?v=163092437706280852751700151387"
    rel="stylesheet"
    type="text/css"
    media="all"
  >
  <link
    href="//g-e-test.myshopify.com/cdn/shop/t/11/assets/component-deferred-media.css?v=14096082462203297471700151385"
    rel="stylesheet"
    type="text/css"
    media="all"
  >
  <style data-shopify>
    .section-template--21653346681154__674cde50-0300-47e8-a916-935b26ae1ed9-padding {
      padding-top: 27px;
      padding-bottom: 27px;
    }

    @media screen and (min-width: 750px) {
      .section-template--21653346681154__674cde50-0300-47e8-a916-935b26ae1ed9-padding {
        padding-top: 36px;
        padding-bottom: 36px;
      }
    }
  </style>
  <div class="color-background-1 gradient">
    <div class="video-section isolate page-width section-template--21653346681154__674cde50-0300-47e8-a916-935b26ae1ed9-padding">
      <div></div>
      <noscript>
        <div
          class="video-section__media"

          style="--ratio-percent: 51.81818181818182%;"
        >
          <a
            href="https://www.youtube.com/watch?v=4NiN9tNvuUg"
            class="video-section__poster media media--transparent"
            ><img
              src="//g-e-test.myshopify.com/cdn/shop/files/about-us-video.png?v=1700503762&amp;width=3840"
              alt="Load video: General Equipment &amp;amp; Supplies in action"
              srcset="//g-e-test.myshopify.com/cdn/shop/files/about-us-video.png?v=1700503762&amp;width=375 375w, //g-e-test.myshopify.com/cdn/shop/files/about-us-video.png?v=1700503762&amp;width=750 750w, //g-e-test.myshopify.com/cdn/shop/files/about-us-video.png?v=1700503762&amp;width=1100 1100w, //g-e-test.myshopify.com/cdn/shop/files/about-us-video.png?v=1700503762&amp;width=1500 1500w, //g-e-test.myshopify.com/cdn/shop/files/about-us-video.png?v=1700503762&amp;width=1780 1780w, //g-e-test.myshopify.com/cdn/shop/files/about-us-video.png?v=1700503762&amp;width=2000 2000w, //g-e-test.myshopify.com/cdn/shop/files/about-us-video.png?v=1700503762&amp;width=3000 3000w, //g-e-test.myshopify.com/cdn/shop/files/about-us-video.png?v=1700503762&amp;width=3840 3840w"
              width="3840"
              height="1990"
              loading="lazy"
              sizes="
                (min-width: 1600px) 1500px, (min-width: 750px)
                calc(100vw - 10rem), 100vw
              "
            >
          </a>
        </div>
      </noscript>
      <deferred-media
        class="video-section__media deferred-media no-js-hidden gradient global-media-settings scroll-trigger animate--slide-in"
        data-media-id="4NiN9tNvuUg"

        style="--ratio-percent: 51.81818181818182%;"
      >
        <button
          id="Deferred-Poster-Modal-4NiN9tNvuUg"
          class="video-section__poster media deferred-media__poster media--landscape"
          type="button"
          aria-label="Load video: General Equipment &amp;amp; Supplies in action"
        >
          <img
            src="//g-e-test.myshopify.com/cdn/shop/files/about-us-video.png?v=1700503762&amp;width=3840"
            alt="Load video: General Equipment &amp;amp; Supplies in action"
            srcset="//g-e-test.myshopify.com/cdn/shop/files/about-us-video.png?v=1700503762&amp;width=375 375w, //g-e-test.myshopify.com/cdn/shop/files/about-us-video.png?v=1700503762&amp;width=750 750w, //g-e-test.myshopify.com/cdn/shop/files/about-us-video.png?v=1700503762&amp;width=1100 1100w, //g-e-test.myshopify.com/cdn/shop/files/about-us-video.png?v=1700503762&amp;width=1500 1500w, //g-e-test.myshopify.com/cdn/shop/files/about-us-video.png?v=1700503762&amp;width=1780 1780w, //g-e-test.myshopify.com/cdn/shop/files/about-us-video.png?v=1700503762&amp;width=2000 2000w, //g-e-test.myshopify.com/cdn/shop/files/about-us-video.png?v=1700503762&amp;width=3000 3000w, //g-e-test.myshopify.com/cdn/shop/files/about-us-video.png?v=1700503762&amp;width=3840 3840w"
            width="3840"
            height="1990"
            loading="lazy"
            sizes="
              (min-width: 1600px) 1500px, (min-width: 750px)
              calc(100vw - 10rem), 100vw
            "
          >
          <span class="deferred-media__poster-button motion-reduce">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              focusable="false"
              class="icon icon-play"
              fill="none"
              viewBox="0 0 10 14"
            >
              <path fill-rule="evenodd" clip-rule="evenodd" d="M1.48177 0.814643C0.81532 0.448245 0 0.930414 0 1.69094V12.2081C0 12.991 0.858787 13.4702 1.52503 13.0592L10.5398 7.49813C11.1918 7.09588 11.1679 6.13985 10.4965 5.77075L1.48177 0.814643Z" fill="currentColor"/>
            </svg>
          </span>
        </button>
        <template
          ><iframe
            src="https://www.youtube.com/embed/4NiN9tNvuUg?enablejsapi=1&autoplay=1"
            class="js-youtube"
            allow="autoplay; encrypted-media"
            allowfullscreen
            title="General Equipment &amp; Supplies in action"
          ></iframe
        ></template>
      </deferred-media>
    </div>
  </div>
</section>
<section
  id="shopify-section-template--21653346681154__77193a1d-776a-47ed-891b-cdf8cb2287d5"
  class="shopify-section section"
>
  <link
    href="//g-e-test.myshopify.com/cdn/shop/t/11/assets/section-rich-text.css?v=155250126305810049721700151387"
    rel="stylesheet"
    type="text/css"
    media="all"
  >
  <style data-shopify>
    .section-template--21653346681154__77193a1d-776a-47ed-891b-cdf8cb2287d5-padding {
      padding-top: 33px;
      padding-bottom: 33px;
    }

    @media screen and (min-width: 750px) {
      .section-template--21653346681154__77193a1d-776a-47ed-891b-cdf8cb2287d5-padding {
        padding-top: 44px;
        padding-bottom: 44px;
      }
    }
  </style>
  <div class="isolate">
    <div class="rich-text content-container color-background-1 gradient rich-text--full-width content-container--full-width section-template--21653346681154__77193a1d-776a-47ed-891b-cdf8cb2287d5-padding">
      <div class="rich-text__wrapper rich-text__wrapper--left page-width">
        <div class="rich-text__blocks left">
          <h2
            class="rich-text__heading rte inline-richtext h2 scroll-trigger animate--slide-in"

            data-cascade
            style="--animation-order: 1;"
          >
            We provide reliable tools faster and at a lower cost than the leading vendors.
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  id="shopify-section-template--21653346681154__b99b674e-da92-4fad-b6f2-1cd89a4326dd"
  class="shopify-section section"
>
  <link
    href="//g-e-test.myshopify.com/cdn/shop/t/11/assets/section-multicolumn.css?v=120651070842298201681700151387"
    rel="stylesheet"
    type="text/css"
    media="all"
  >
  <link
    href="//g-e-test.myshopify.com/cdn/shop/t/11/assets/component-slider.css?v=142503135496229589681700151386"
    rel="stylesheet"
    type="text/css"
    media="all"
  >
  <style data-shopify>
    .section-template--21653346681154__b99b674e-da92-4fad-b6f2-1cd89a4326dd-padding {
        padding-top: 44px;
        padding-bottom: 44px;
      }
      .multicolumn.background-primary .multicolumn-card {
        background: transparent;
    }
      @media screen and (min-width: 750px) {
        .section-template--21653346681154__b99b674e-da92-4fad-b6f2-1cd89a4326dd-padding {
          padding-top: 36px;
          padding-bottom: 36px;
        }
      }
  </style>

  <div class="multicolumn color-background-1 gradient background-primary">
    <div
      class="page-width section-template--21653346681154__b99b674e-da92-4fad-b6f2-1cd89a4326dd-padding isolate scroll-trigger animate--slide-in"

      data-cascade
    >
      <div class="title-wrapper-with-link title-wrapper--self-padded-mobile title-wrapper--no-top-margin">
        <h2 class="title inline-richtext h1">Reliable Brands</h2>
      </div>
      <slider-component class="slider-mobile-gutter">
        <ul
          class="multicolumn-list contains-content-container grid grid--1-col-tablet-down grid--6-col-desktop"
          id="Slider-template--21653346681154__b99b674e-da92-4fad-b6f2-1cd89a4326dd"
          role="list"
        >
          <li
            id="Slide-template--21653346681154__b99b674e-da92-4fad-b6f2-1cd89a4326dd-1"
            class="multicolumn-list__item grid__item scroll-trigger animate--slide-in"

            data-cascade
            style="--animation-order: 1;"
          >
            <div class="multicolumn-card content-container">
              <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--full-width multicolumn-card-spacing">
                <div
                  class="media media--transparent media--adapt"

                  style="padding-bottom: 27.8125%;"
                >
                  <img
                    src="{{ 'burndy-logo.png' | asset_url }}"
                    height="300px"
                    loading="lazy"
                    alt="Burndy Tools"
                    class="multicolumn-card__image"
                    /
                  >

                  <!--
                    <img src="//g-e-test.myshopify.com/cdn/shop/files/burndy-logo.png?v=1700505709&amp;width=3200" alt=""
                    srcset="//g-e-test.myshopify.com/cdn/shop/files/burndy-logo.png?v=1700505709&amp;width=50 50w, //g-e-test.myshopify.com/cdn/shop/files/burndy-logo.png?v=1700505709&amp;width=75 75w,
                    //g-e-test.myshopify.com/cdn/shop/files/burndy-logo.png?v=1700505709&amp;width=100 100w, //g-e-test.myshopify.com/cdn/shop/files/burndy-logo.png?v=1700505709&amp;width=150 150w,
                    //g-e-test.myshopify.com/cdn/shop/files/burndy-logo.png?v=1700505709&amp;width=200 200w, //g-e-test.myshopify.com/cdn/shop/files/burndy-logo.png?v=1700505709&amp;width=300 300w,
                    //g-e-test.myshopify.com/cdn/shop/files/burndy-logo.png?v=1700505709&amp;width=400 400w, //g-e-test.myshopify.com/cdn/shop/files/burndy-logo.png?v=1700505709&amp;width=500 500w,
                    //g-e-test.myshopify.com/cdn/shop/files/burndy-logo.png?v=1700505709&amp;width=750 750w, //g-e-test.myshopify.com/cdn/shop/files/burndy-logo.png?v=1700505709&amp;width=1000 1000w,
                    //g-e-test.myshopify.com/cdn/shop/files/burndy-logo.png?v=1700505709&amp;width=1250 1250w, //g-e-test.myshopify.com/cdn/shop/files/burndy-logo.png?v=1700505709&amp;width=1500 1500w,
                    //g-e-test.myshopify.com/cdn/shop/files/burndy-logo.png?v=1700505709&amp;width=1750 1750w, //g-e-test.myshopify.com/cdn/shop/files/burndy-logo.png?v=1700505709&amp;width=2000 2000w,
                    //g-e-test.myshopify.com/cdn/shop/files/burndy-logo.png?v=1700505709&amp;width=2250 2250w, //g-e-test.myshopify.com/cdn/shop/files/burndy-logo.png?v=1700505709&amp;width=2500 2500w,
                    //g-e-test.myshopify.com/cdn/shop/files/burndy-logo.png?v=1700505709&amp;width=2750 2750w, //g-e-test.myshopify.com/cdn/shop/files/burndy-logo.png?v=1700505709&amp;width=3000 3000w,
                    //g-e-test.myshopify.com/cdn/shop/files/burndy-logo.png?v=1700505709&amp;width=3200 3200w" width="3200" height="1778" loading="lazy" sizes="
                      (min-width: 1600px) calc((1600px - 140px) * 1 /  6),
                      (min-width: 990px) calc((100vw - 140px) * 1 / 6),
                      (min-width: 750px) calc((100vw - 100px) * 1 / 1),
                      calc((100vw - 30px) * 1 / 1)
                    " class="multicolumn-card__image">
                  -->
                </div>
              </div>
              <div class="multicolumn-card__info"></div>
            </div>
          </li>
          <li
            id="Slide-template--21653346681154__b99b674e-da92-4fad-b6f2-1cd89a4326dd-2"
            class="multicolumn-list__item grid__item scroll-trigger animate--slide-in"
            data-cascade
            style="--animation-order: 2;"
          >
            <div class="multicolumn-card content-container">
              <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--full-width multicolumn-card-spacing">
                <div class="media media--transparent media--adapt" style="padding-bottom: 27.8125%;">
                  <img
                    src="{{ 'Greenlee-logo.webp' | asset_url }}"
                    height="300px"
                    loading="lazy"
                    alt="Greenlee Manufacturing"
                    class="multicolumn-card__image"
                    /
                  >
                  <!--
                    <img src="//g-e-test.myshopify.com/cdn/shop/files/Greenlee-logo.png?v=1700505725&amp;width=3200" alt="" srcset="//g-e-test.myshopify.com/cdn/shop/files/Greenlee-logo.png?v=1700505725&amp;width=50 50w, //g-e-test.myshopify.com/cdn/shop/files/Greenlee-logo.png?v=1700505725&amp;width=75 75w, //g-e-test.myshopify.com/cdn/shop/files/Greenlee-logo.png?v=1700505725&amp;width=100 100w, //g-e-test.myshopify.com/cdn/shop/files/Greenlee-logo.png?v=1700505725&amp;width=150 150w, //g-e-test.myshopify.com/cdn/shop/files/Greenlee-logo.png?v=1700505725&amp;width=200 200w, //g-e-test.myshopify.com/cdn/shop/files/Greenlee-logo.png?v=1700505725&amp;width=300 300w, //g-e-test.myshopify.com/cdn/shop/files/Greenlee-logo.png?v=1700505725&amp;width=400 400w, //g-e-test.myshopify.com/cdn/shop/files/Greenlee-logo.png?v=1700505725&amp;width=500 500w, //g-e-test.myshopify.com/cdn/shop/files/Greenlee-logo.png?v=1700505725&amp;width=750 750w, //g-e-test.myshopify.com/cdn/shop/files/Greenlee-logo.png?v=1700505725&amp;width=1000 1000w, //g-e-test.myshopify.com/cdn/shop/files/Greenlee-logo.png?v=1700505725&amp;width=1250 1250w, //g-e-test.myshopify.com/cdn/shop/files/Greenlee-logo.png?v=1700505725&amp;width=1500 1500w, //g-e-test.myshopify.com/cdn/shop/files/Greenlee-logo.png?v=1700505725&amp;width=1750 1750w, //g-e-test.myshopify.com/cdn/shop/files/Greenlee-logo.png?v=1700505725&amp;width=2000 2000w, //g-e-test.myshopify.com/cdn/shop/files/Greenlee-logo.png?v=1700505725&amp;width=2250 2250w, //g-e-test.myshopify.com/cdn/shop/files/Greenlee-logo.png?v=1700505725&amp;width=2500 2500w, //g-e-test.myshopify.com/cdn/shop/files/Greenlee-logo.png?v=1700505725&amp;width=2750 2750w, //g-e-test.myshopify.com/cdn/shop/files/Greenlee-logo.png?v=1700505725&amp;width=3000 3000w, //g-e-test.myshopify.com/cdn/shop/files/Greenlee-logo.png?v=1700505725&amp;width=3200 3200w" width="3200" height="890" loading="lazy" sizes="
                      (min-width: 1600px) calc((1600px - 140px) * 1 /  6),
                      (min-width: 990px) calc((100vw - 140px) * 1 / 6),
                      (min-width: 750px) calc((100vw - 100px) * 1 / 1),
                      calc((100vw - 30px) * 1 / 1)
                    " class="multicolumn-card__image">
                  -->
                </div>
              </div>
              <div class="multicolumn-card__info"></div>
            </div>
          </li>
          <li
            id="Slide-template--21653346681154__b99b674e-da92-4fad-b6f2-1cd89a4326dd-3"
            class="multicolumn-list__item grid__item scroll-trigger animate--slide-in"
            data-cascade
            style="--animation-order: 3;"
          >
            <div class="multicolumn-card content-container">
              <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--full-width multicolumn-card-spacing">
                <div class="media media--transparent media--adapt" style="padding-bottom: 27.8125%;">
                  <img
                    src="{{ 'knaack-logo.png' | asset_url }}"
                    height="300px"
                    loading="lazy"
                    alt="Knaack Jobox Storage and Tool Boxes"
                    class="multicolumn-card__image"
                    /
                  >
                  <!--
                    <img src="//g-e-test.myshopify.com/cdn/shop/files/knaack-logo.png?v=1700505743&amp;width=3200" alt="" srcset="//g-e-test.myshopify.com/cdn/shop/files/knaack-logo.png?v=1700505743&amp;width=50 50w, //g-e-test.myshopify.com/cdn/shop/files/knaack-logo.png?v=1700505743&amp;width=75 75w, //g-e-test.myshopify.com/cdn/shop/files/knaack-logo.png?v=1700505743&amp;width=100 100w, //g-e-test.myshopify.com/cdn/shop/files/knaack-logo.png?v=1700505743&amp;width=150 150w, //g-e-test.myshopify.com/cdn/shop/files/knaack-logo.png?v=1700505743&amp;width=200 200w, //g-e-test.myshopify.com/cdn/shop/files/knaack-logo.png?v=1700505743&amp;width=300 300w, //g-e-test.myshopify.com/cdn/shop/files/knaack-logo.png?v=1700505743&amp;width=400 400w, //g-e-test.myshopify.com/cdn/shop/files/knaack-logo.png?v=1700505743&amp;width=500 500w, //g-e-test.myshopify.com/cdn/shop/files/knaack-logo.png?v=1700505743&amp;width=750 750w, //g-e-test.myshopify.com/cdn/shop/files/knaack-logo.png?v=1700505743&amp;width=1000 1000w, //g-e-test.myshopify.com/cdn/shop/files/knaack-logo.png?v=1700505743&amp;width=1250 1250w, //g-e-test.myshopify.com/cdn/shop/files/knaack-logo.png?v=1700505743&amp;width=1500 1500w, //g-e-test.myshopify.com/cdn/shop/files/knaack-logo.png?v=1700505743&amp;width=1750 1750w, //g-e-test.myshopify.com/cdn/shop/files/knaack-logo.png?v=1700505743&amp;width=2000 2000w, //g-e-test.myshopify.com/cdn/shop/files/knaack-logo.png?v=1700505743&amp;width=2250 2250w, //g-e-test.myshopify.com/cdn/shop/files/knaack-logo.png?v=1700505743&amp;width=2500 2500w, //g-e-test.myshopify.com/cdn/shop/files/knaack-logo.png?v=1700505743&amp;width=2750 2750w, //g-e-test.myshopify.com/cdn/shop/files/knaack-logo.png?v=1700505743&amp;width=3000 3000w, //g-e-test.myshopify.com/cdn/shop/files/knaack-logo.png?v=1700505743&amp;width=3200 3200w" width="3200" height="1778" loading="lazy" sizes="
                      (min-width: 1600px) calc((1600px - 140px) * 1 /  6),
                      (min-width: 990px) calc((100vw - 140px) * 1 / 6),
                      (min-width: 750px) calc((100vw - 100px) * 1 / 1),
                      calc((100vw - 30px) * 1 / 1)
                    " class="multicolumn-card__image">
                  -->
                </div>
              </div>
              <div class="multicolumn-card__info"></div>
            </div>
          </li>
          <li
            id="Slide-template--21653346681154__b99b674e-da92-4fad-b6f2-1cd89a4326dd-4"
            class="multicolumn-list__item grid__item scroll-trigger animate--slide-in"
            data-cascade
            style="--animation-order: 4;"
          >
            <div class="multicolumn-card content-container">
              <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--full-width multicolumn-card-spacing">
                <div class="media media--transparent media--adapt" style="padding-bottom: 27.8125%;">
                  <img
                    src="{{ 'lincoln-logo.webp' | asset_url }}"
                    height="300px"
                    loading="lazy"
                    alt="Lincoln Electric"
                    class="multicolumn-card__image"
                    /
                  >
                  <!--
                    <img src="//g-e-test.myshopify.com/cdn/shop/files/lincoln-logo.png?v=1700505761&amp;width=3200" alt="" srcset="//g-e-test.myshopify.com/cdn/shop/files/lincoln-logo.png?v=1700505761&amp;width=50 50w, //g-e-test.myshopify.com/cdn/shop/files/lincoln-logo.png?v=1700505761&amp;width=75 75w, //g-e-test.myshopify.com/cdn/shop/files/lincoln-logo.png?v=1700505761&amp;width=100 100w, //g-e-test.myshopify.com/cdn/shop/files/lincoln-logo.png?v=1700505761&amp;width=150 150w, //g-e-test.myshopify.com/cdn/shop/files/lincoln-logo.png?v=1700505761&amp;width=200 200w, //g-e-test.myshopify.com/cdn/shop/files/lincoln-logo.png?v=1700505761&amp;width=300 300w, //g-e-test.myshopify.com/cdn/shop/files/lincoln-logo.png?v=1700505761&amp;width=400 400w, //g-e-test.myshopify.com/cdn/shop/files/lincoln-logo.png?v=1700505761&amp;width=500 500w, //g-e-test.myshopify.com/cdn/shop/files/lincoln-logo.png?v=1700505761&amp;width=750 750w, //g-e-test.myshopify.com/cdn/shop/files/lincoln-logo.png?v=1700505761&amp;width=1000 1000w, //g-e-test.myshopify.com/cdn/shop/files/lincoln-logo.png?v=1700505761&amp;width=1250 1250w, //g-e-test.myshopify.com/cdn/shop/files/lincoln-logo.png?v=1700505761&amp;width=1500 1500w, //g-e-test.myshopify.com/cdn/shop/files/lincoln-logo.png?v=1700505761&amp;width=1750 1750w, //g-e-test.myshopify.com/cdn/shop/files/lincoln-logo.png?v=1700505761&amp;width=2000 2000w, //g-e-test.myshopify.com/cdn/shop/files/lincoln-logo.png?v=1700505761&amp;width=2250 2250w, //g-e-test.myshopify.com/cdn/shop/files/lincoln-logo.png?v=1700505761&amp;width=2500 2500w, //g-e-test.myshopify.com/cdn/shop/files/lincoln-logo.png?v=1700505761&amp;width=2750 2750w, //g-e-test.myshopify.com/cdn/shop/files/lincoln-logo.png?v=1700505761&amp;width=3000 3000w, //g-e-test.myshopify.com/cdn/shop/files/lincoln-logo.png?v=1700505761&amp;width=3200 3200w" width="3200" height="1232" loading="lazy" sizes="
                      (min-width: 1600px) calc((1600px - 140px) * 1 /  6),
                      (min-width: 990px) calc((100vw - 140px) * 1 / 6),
                      (min-width: 750px) calc((100vw - 100px) * 1 / 1),
                      calc((100vw - 30px) * 1 / 1)
                    " class="multicolumn-card__image">
                  -->
                </div>
              </div>
              <div class="multicolumn-card__info"></div>
            </div>
          </li>
          <li
            id="Slide-template--21653346681154__b99b674e-da92-4fad-b6f2-1cd89a4326dd-5"
            class="multicolumn-list__item grid__item scroll-trigger animate--slide-in"
            data-cascade
            style="--animation-order: 5;"
          >
            <div class="multicolumn-card content-container">
              <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--full-width multicolumn-card-spacing">
                <div class="media media--transparent media--adapt" style="padding-bottom: 27.8125%;">
                  <img
                    src="{{ 'miller-logo.png' | asset_url }}"
                    height="300px"
                    loading="lazy"
                    alt="Miller Welding"
                    class="multicolumn-card__image"
                    /
                  >
                  <!--
                    <img src="//g-e-test.myshopify.com/cdn/shop/files/miller-logo.png?v=1700505777&amp;width=3200" alt="" srcset="//g-e-test.myshopify.com/cdn/shop/files/miller-logo.png?v=1700505777&amp;width=50 50w, //g-e-test.myshopify.com/cdn/shop/files/miller-logo.png?v=1700505777&amp;width=75 75w, //g-e-test.myshopify.com/cdn/shop/files/miller-logo.png?v=1700505777&amp;width=100 100w, //g-e-test.myshopify.com/cdn/shop/files/miller-logo.png?v=1700505777&amp;width=150 150w, //g-e-test.myshopify.com/cdn/shop/files/miller-logo.png?v=1700505777&amp;width=200 200w, //g-e-test.myshopify.com/cdn/shop/files/miller-logo.png?v=1700505777&amp;width=300 300w, //g-e-test.myshopify.com/cdn/shop/files/miller-logo.png?v=1700505777&amp;width=400 400w, //g-e-test.myshopify.com/cdn/shop/files/miller-logo.png?v=1700505777&amp;width=500 500w, //g-e-test.myshopify.com/cdn/shop/files/miller-logo.png?v=1700505777&amp;width=750 750w, //g-e-test.myshopify.com/cdn/shop/files/miller-logo.png?v=1700505777&amp;width=1000 1000w, //g-e-test.myshopify.com/cdn/shop/files/miller-logo.png?v=1700505777&amp;width=1250 1250w, //g-e-test.myshopify.com/cdn/shop/files/miller-logo.png?v=1700505777&amp;width=1500 1500w, //g-e-test.myshopify.com/cdn/shop/files/miller-logo.png?v=1700505777&amp;width=1750 1750w, //g-e-test.myshopify.com/cdn/shop/files/miller-logo.png?v=1700505777&amp;width=2000 2000w, //g-e-test.myshopify.com/cdn/shop/files/miller-logo.png?v=1700505777&amp;width=2250 2250w, //g-e-test.myshopify.com/cdn/shop/files/miller-logo.png?v=1700505777&amp;width=2500 2500w, //g-e-test.myshopify.com/cdn/shop/files/miller-logo.png?v=1700505777&amp;width=2750 2750w, //g-e-test.myshopify.com/cdn/shop/files/miller-logo.png?v=1700505777&amp;width=3000 3000w, //g-e-test.myshopify.com/cdn/shop/files/miller-logo.png?v=1700505777&amp;width=3200 3200w" width="3200" height="1778" loading="lazy" sizes="
                      (min-width: 1600px) calc((1600px - 140px) * 1 /  6),
                      (min-width: 990px) calc((100vw - 140px) * 1 / 6),
                      (min-width: 750px) calc((100vw - 100px) * 1 / 1),
                      calc((100vw - 30px) * 1 / 1)
                    " class="multicolumn-card__image">
                  -->
                </div>
              </div>
              <div class="multicolumn-card__info"></div>
            </div>
          </li>
          <li
            id="Slide-template--21653346681154__b99b674e-da92-4fad-b6f2-1cd89a4326dd-6"
            class="multicolumn-list__item grid__item scroll-trigger animate--slide-in"
            data-cascade
            style="--animation-order: 6;"
          >
            <div class="multicolumn-card content-container">
              <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--full-width multicolumn-card-spacing">
                <div class="media media--transparent media--adapt" style="padding-bottom: 27.8125%;">
                  <img
                    src="{{ 'ridgid-logo.webp' | asset_url }}"
                    height="300px"
                    loading="lazy"
                    alt="Ridgid Tools"
                    class="multicolumn-card__image"
                  >
                  <!--
                    <img src="//g-e-test.myshopify.com/cdn/shop/files/ridgid-logo.png?v=1700505807&amp;width=3200" alt="" srcset="//g-e-test.myshopify.com/cdn/shop/files/ridgid-logo.png?v=1700505807&amp;width=50 50w, //g-e-test.myshopify.com/cdn/shop/files/ridgid-logo.png?v=1700505807&amp;width=75 75w, //g-e-test.myshopify.com/cdn/shop/files/ridgid-logo.png?v=1700505807&amp;width=100 100w, //g-e-test.myshopify.com/cdn/shop/files/ridgid-logo.png?v=1700505807&amp;width=150 150w, //g-e-test.myshopify.com/cdn/shop/files/ridgid-logo.png?v=1700505807&amp;width=200 200w, //g-e-test.myshopify.com/cdn/shop/files/ridgid-logo.png?v=1700505807&amp;width=300 300w, //g-e-test.myshopify.com/cdn/shop/files/ridgid-logo.png?v=1700505807&amp;width=400 400w, //g-e-test.myshopify.com/cdn/shop/files/ridgid-logo.png?v=1700505807&amp;width=500 500w, //g-e-test.myshopify.com/cdn/shop/files/ridgid-logo.png?v=1700505807&amp;width=750 750w, //g-e-test.myshopify.com/cdn/shop/files/ridgid-logo.png?v=1700505807&amp;width=1000 1000w, //g-e-test.myshopify.com/cdn/shop/files/ridgid-logo.png?v=1700505807&amp;width=1250 1250w, //g-e-test.myshopify.com/cdn/shop/files/ridgid-logo.png?v=1700505807&amp;width=1500 1500w, //g-e-test.myshopify.com/cdn/shop/files/ridgid-logo.png?v=1700505807&amp;width=1750 1750w, //g-e-test.myshopify.com/cdn/shop/files/ridgid-logo.png?v=1700505807&amp;width=2000 2000w, //g-e-test.myshopify.com/cdn/shop/files/ridgid-logo.png?v=1700505807&amp;width=2250 2250w, //g-e-test.myshopify.com/cdn/shop/files/ridgid-logo.png?v=1700505807&amp;width=2500 2500w, //g-e-test.myshopify.com/cdn/shop/files/ridgid-logo.png?v=1700505807&amp;width=2750 2750w, //g-e-test.myshopify.com/cdn/shop/files/ridgid-logo.png?v=1700505807&amp;width=3000 3000w, //g-e-test.myshopify.com/cdn/shop/files/ridgid-logo.png?v=1700505807&amp;width=3200 3200w" width="3200" height="1036" loading="lazy" sizes="
                    (min-width: 1600px) calc((1600px - 140px) * 1 /  6),
                    (min-width: 990px) calc((100vw - 140px) * 1 / 6),
                    (min-width: 750px) calc((100vw - 100px) * 1 / 1),
                    calc((100vw - 30px) * 1 / 1)" class="multicolumn-card__image">
                  -->
                </div>
              </div>
              <div class="multicolumn-card__info"></div>
            </div>
          </li>
        </ul>
      </slider-component>
      <div class="center"></div>
    </div>
  </div>
</section>

<section
  id="shopify-section-template--21653346681154__62aeb97d-0061-4a3e-a546-e37f6078f74f"
  class="shopify-section section"
>
  <div class="rich-text content-container color-background-1 gradient rich-text--full-width content-container--full-width section-template--21653346681154__62aeb97d-0061-4a3e-a546-e37f6078f74f-padding">
    <div class="rich-text__wrapper rich-text__wrapper--left page-width">
      <div class="rich-text__blocks left">
        <h2
          class="rich-text__heading rte inline-richtext h2 scroll-trigger animate--slide-in"
          data-cascade
          style="--animation-order: 1;"
        >
          Look to our complete catalog for bending machines, cable pulling tools, rigging equipment, multi-process
          welders, and much more.
        </h2>
      </div>
    </div>
  </div>
</section>
<!-- Catalog Download Section -->

<div
  id="shopify-section-template--21653346681154__be346bf0-6535-4cad-b45d-3fdf24bd0af4"
  class="shopify-section section"
>
  <link
    href="//g-e-test.myshopify.com/cdn/shop/t/11/assets/component-image-with-text.css?v=132604768413025929601700151385"
    rel="stylesheet"
    type="text/css"
    media="all"
  >
  <style data-shopify="">
    .section-template--21653346681154__be346bf0-6535-4cad-b45d-3fdf24bd0af4-padding {
      padding-top: 33px;
      padding-bottom: 33px;
    }

    @media screen and (min-width: 750px) {
      .section-template--21653346681154__be346bf0-6535-4cad-b45d-3fdf24bd0af4-padding {
        padding-top: 44px;
        padding-bottom: 44px;
      }
    }
  </style>
  <div class="section-template--21653346681154__be346bf0-6535-4cad-b45d-3fdf24bd0af4-padding gradient color-background-1">
    <div class="page-width">
      <div class="image-with-text image-with-text--overlap isolate collapse-corners scroll-trigger animate--slide-in">
        <div class="image-with-text__grid grid grid--gapless grid--1-col grid--2-col-tablet">
          <div class="image-with-text__media-item image-with-text__media-item--medium image-with-text__media-item--middle grid__item">
            <div
              class="image-with-text__media image-with-text__media--medium global-media-settings gradient color-background-1 media animate--zoom-in"
              style="--zoom-in-ratio: 1.096;"
            >
              <!--
                <img src="//g-e-test.myshopify.com/cdn/shop/files/product-catalog.png?v=1700509410&amp;width=1500" alt="" srcset="//g-e-test.myshopify.com/cdn/shop/files/product-catalog.png?v=1700509410&amp;width=198 198w, //g-e-test.myshopify.com/cdn/shop/files/product-catalog.png?v=1700509410&amp;width=432 432w, //g-e-test.myshopify.com/cdn/shop/files/product-catalog.png?v=1700509410&amp;width=642 642w, //g-e-test.myshopify.com/cdn/shop/files/product-catalog.png?v=1700509410&amp;width=900 900w, //g-e-test.myshopify.com/cdn/shop/files/product-catalog.png?v=1700509410&amp;width=1284 1284w" width="1500" height="860" loading="lazy" sizes="(min-width: 1600px) 899.9820003599928px,
                (min-width: 750px) calc((100vw - 130px) / 1.667), calc((100vw - 50px) / 1.667)" fetchpriority="auto">
              -->
              <img
                src="{{ 'product-catalog.png' | asset_url }}"
                alt="General Equipment & Supplies Construction Surplus Product Catalog"
                /
              >
            </div>
          </div>
          <div class="image-with-text__text-item grid__item">
            <div
              id="ImageWithText--template--21653346681154__be346bf0-6535-4cad-b45d-3fdf24bd0af4"
              class="image-with-text__content image-with-text__content--middle image-with-text__content--desktop-left image-with-text__content--mobile-left image-with-text__content--medium content-container gradient color-background-1"
            >
              <h2 class="image-with-text__heading inline-richtext h0">Get Our Product Catalog</h2>
              <div class="image-with-text__text rte body"></div>
              <a href="/pages/contact" class="button button--primary"> Download </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
